<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">

    <title>Shelby</title>
    <link href="/assets/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">{% block title %}Shelby{% endblock title %}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Contacts
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="/persons">Persons</a></li>
                            <li><a class="dropdown-item" href="/groups">Groups</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="/documents" id="navbarDropdownMenuLink" role="button" aria-expanded="false">
                            Documents
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Accounting
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="/entries">Entries</a></li>
                            <li><a class="dropdown-item" href="/accounts">Accounts</a></li>
                            <li><a class="dropdown-item" href="/cost_centers">Cost centers</a></li>
                            <li><a class="dropdown-item" href="/categories">Categories</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            System
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li class="dropdown-item disabled" href="#">Shelby {{version}}</li>
                            <li><button onclick="toggleMode()" class="dropdown-item" href="#">Toggle dark mode</button></li>
                            <li><a class="dropdown-item" href="/users">Users</a></li>
                            <li><a class="dropdown-item" href="/users/logout">Logout</a></li>
                        </ul>
                    </li>
                </ul>
                {% block navbar_extra %}
                {% endblock navbar_extra %}
            </div>
        </div>
    </nav>

    <main class="container mt-5">
        {% block main %}
        {% endblock main %}
    </main>

    <script src="/assets/dist/js/bootstrap.bundle.min.js"></script>

    <script>
    function toggleMode() {
        const rootElement = document.documentElement;
        if (rootElement.getAttribute("data-bs-theme") == "dark") {
            rootElement.setAttribute("data-bs-theme", "light");
        } else {
            rootElement.setAttribute("data-bs-theme", "dark");
        }
    }
    </script>
    {% block body_end %}
    {% endblock body_end %}
</body>

</html>