{% extends "base" %}
{% block main %}
<div class="error-container text-center">
    <h1 class="display-1">Error</h1>
    <p class="lead">{{error}}</p>
    <!-- <p>{{error}}</p> -->
</div>
{% endblock main %}